<h1>First App</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dolores deleniti quae necessitatibus consectetur
  reiciendis illum amet optio vel, a quas earum perferendis cupiditate ratione eligendi assumenda et impedit iusto!</p>
<input type="button" value="Set Age 0" (click)="setAgeZero()" /> <br><br>
<input type="button" value="Increment" (click)="increment()">
<h1>Age is : {{age}}</h1>
<input type="button" value="Decrement" (click)="decrement()">


<h1>User Details</h1>
<h3> User Name : {{userJSON.name}}</h3>
